.rj7v5kdbu {
    
    h2 {
        .g-header();
    }
    
    .comment {
        margin-bottom:10px; 
    }
    
    .user-date {
        * {
            vertical-align: middle;
            font-size:12px;
            color: gray;
        }
        img {
            margin-right: 5px;
        }
        .time {
            display:inline-block;
            width: 40px;
        }
        .user {
            margin-right: 10px;
        }
    }
    
    .date {
        margin-bottom:10px;
        font-weight: bold;
    }
     
}