.tf92Pms9UG {
    
    background: #ededed;
    padding: 10px;
    
    table {
        width: 100%;
        table-layout: fixed;
    }
    
    .left {
        width: 100%;
    }
    
    .right {
        width: 50px;
        vertical-align: middle;
    }
    
    .add-task {
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    
}