.y1YrXY3WM1 {
    
    padding: 40px;
    
    table {
        
        margin-bottom: 40px;
        
        td {
            padding: 4px;
            border: 1px solid #ededed;
        }
    }
    
}