.user-select-zaqfrsj6nf {
    display: none;
    position: absolute;
    background: #FFF;
    padding: 10px 0 0 10px;
    -webkit-box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
    width: 440px;
    .item {
        width: 100px;
        height: 100px;
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
        cursor: pointer;
    }    
}