.task-list-rpu80rt4m0 {

    position: relative;

    &.singleline {
        white-space: nowrap;
    }

    & > .loader {
        display: none;
        position: absolute;
        left: 50%;
        top: 300px;
        background: rgba(255,255,255, .5);
        z-index: 1;
        padding: 10px;
    }
    
    & > .ajax-container {
    }
    
}