.Roy1CZU9ev {
    
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
    padding-bottom: 15px;
    
    .day {
        
        position: relative;
        height: 20px;
        border-bottom: 1px solid #ededed;
        
        &:last-child {
            border-bottom: 0;
        }
        
        .num {
            position: absolute;
            font-size: 11px;
            opacity: .4;
            top: 4px;
            left: 2px;
        }
        
        .workflow-item {
            position: absolute;
            height: 20px;
            top: 0;
            
            &.status-auto {
                background: rgba(0, 128, 0, .3);
            }
            &.status-manual {
                background: rgba(0, 128, 0, 1);
            }
            &.status-draft {
                background: rgba(255, 0, 0, 1);
            }
        }
    }
    
    .hour {
        position: absolute;
        font-size: 9px;
        bottom: 0;
    }
    
}