.YkELjC2q38 {
    
    h2 {
        display: inline-block;
        margin: 0 20px 0 0;
        font-size: 24px;
        opacity: 1;
    }
    
    .back {
        color: gray;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    
}