.task-list-zjnu1r2ofp {
    
    & > .title {
        font-size: 22px;
        padding: 0 10px;
        
        .group {
            cursor: pointer;
            text-decoration: underline;
        }
        
    }
    
}