.task-toolbar-s88w4h5tpq {
    
    white-space: nowrap;
    
    .title-ajax {
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
    }
    
    .pager {
        vertical-align: middle;
    }
    
}