.raub2v07e-menu {
    
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    
    a {
        color:black;
        text-decoration:none;
        
        &:hover {
            text-decoration: underline;
        }
    }
}

#raub2v07e-menu {display:none;}
