.cjoesz8swu {

    position: relative;

    .loader {
        background: rgba(255,255,255,.5);
        position: absolute;
        width:100px;
        text-align:center;
        left: ~"calc(50% - 100px)";
        top: 200px;
        padding:20px;
        display: none;
        font-size:18px;
    }

}