.cjoesz8swu {

    position: relative;
    height: 100%;

    .loader {
        position: absolute;
        text-align:center;
        right: 0;
        top: 0;
        padding:5px;
        display: none;
        font-size:11px;
    }
    
    .drag-splash {
        
        display: none;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        background: rgba(0,180,0,.85);
        
        .text {
            position: absolute;
            width: 100%;
            top: 50%;
            font-size: 18px;
            color: white;
            text-align: center;
        }
        
    }
    
    &.drag-enter {
        .drag-splash {
            display: block !important;
        }
    }

}