.qoi8w451jl {

    h1 {
        display: inline-block;
        margin: 0 20px 0 0;
    }
    
    .a {
        padding: 10px 10px 0 20px;
        & > * {
            vertical-align: middle;
        }
    }
    
    .spacer {
        width:20px;
        display:inline-block;
    }
    
    select {
        .g-input();
        margin-right: 10px;
    }
    
    button {
        .g-button(); 
        margin-right: 10px;       
    }
    
    .with-selected {
    
        position:relative;        
        height:32px;
        padding: 10px;
       
        .selection-info {
            margin-right:10px;
        }
        
        .deselect {
            border-bottom: 1px solid black;
            margin-right: 10px;
            cursor: pointer;
        }
        
        .functions {

            width: 100%;
            box-sizing: border-box;
            //background: #ffff99;
            opacity: 0;
            padding: 10px 20px;
            position: absolute;
            left:0px;
            top:0px;
            
            & > * {
                vertical-align: middle;
            }
            
        }
        
        .hint {
            position: absolute;
            left:20px;
            top:19px;
            font-style: italic;
            color: gray;
        }
    }

}