.qoi8w451jl {
    
    background: #f5f5ea;
    padding: 10px 10px 10px 20px;
    
    & > * {
        vertical-align: middle;
    }

    h1 {
        display: inline-block;
        margin: 0 20px 0 0;
    }
    
    .spacer {
        width:20px;
        display:inline-block;
    }
    
    select {
        .g-input();
        margin-right: 10px;
        width:70px;
    }
    
    button {
        .g-button(); 
        margin-right: 10px;       
    }
    
    .with-selected {
    
        width: 400px;
        display: inline-block;
        position: relative;  
        border-left: 1px solid #ccc;
        padding-left: 20px;
        
        & > * {
            vertical-align: middle;
        }

        .selection-info {
            margin-right: 10px;
        }
        
        .deselect {
            border-bottom: 1px solid black;
            margin-right: 10px;
            cursor: pointer;
        }
        
    }

}