.qoi8w451jl {
    
    .a {
        padding:10px;
    }
    
    .spacer {
        width:20px;
        display:inline-block;
    }
    
    select {
        .g-input();
        margin-right: 10px;
    }
    
    button {
        .g-button(); 
        margin-right: 10px;       
    }
    
    .with-selected {
        opacity:0;
        background: #ffff99;
        padding: 10px;
        
        & > * {
            vertical-align: middle;
        }
        
        .selection-info {
            margin-right:10px;
            font-size:16px;
        }
    }

}