.add-comment-rz7kt16k3a {

    background: white;
    padding:10px;
    text-align: right;
    
    button {
        margin-right:0;
    }

    textarea {
        .g-input();
        box-sizing: border-box;
        width:100%;
        margin-bottom: 10px;
        resize: none; 
    }
 
}