.comments-nni5vez0qz {
    
    img {
        display: block;
    }
    
    table {
        
        margin-bottom: 10px;
        
        td {
            
            padding: 0 5px;
            vertical-align: middle;
            
            .userName {
                color: #777;    
            }
            
            .date {
                color: #777;
                font-size: 12px;
                margin-left: 10px;    
            }
        }
        
        &:hover .edit {
            opacity: 1;
        }
        
    }   
    
    .edit {
        .icon16("edit");
        width: 16px;
        height: 16px;
        opacity: .1;
        cursor: pointer;
    }
    
}