.MhpEuDh2NX {
    
    height: 100%;
    width: 100%;
    overflow: auto;

    h2 {
        font-size: 18px;
        font-weight: normal;
        margin: 0 0 10px;
        opacity: .5;
    }
    
    .task-list {
        box-sizing: border-box;
        padding: 20px;
        width: 800px;
    }

}