.MhpEuDh2NX {
    
    position: relative;

    h2 {
        font-size: 18px;
        font-weight: normal;
        margin: 0 0 10px;
        opacity: .5;
    }
    
    .task-list {
        box-sizing: border-box;
        padding: 20px;
    }
    
    .right-toolbar {
        width:100px;
        right: 12px;
        top: 50px;
        position: fixed;
        background: rgba(0,0,0,.2);
        height: 100%;
    }

}