.iv09v31m1i {

    input[type='text'], textarea, select {
        .g-input();
    }
    
    input[type='submit'] {
        .g-button();
    }    
   
    td {
        vertical-align: middle;
        padding-bottom: 10px;
    }
    
    td:first-child {
        text-align: right;
        width:100px;
        padding-right:20px;
        color:gray;
        font-style: italic;
    }
    
}