.RDqZHFl7c0 {

    padding: 5px 10px;
    display: flex;
    
    & > * {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    .token {
        width: 350px;
    }
    
    .date {
        width: 120px;
    }
    
}