.ui-icon16(@file) {
    @url: "@{bundle}res/img/icons16/@{file}.png";
    background: url(@url);
}

.air + *:not(.air) {
    margin-left: 10px !important;
}

.g-input {

    padding:8px;
    border:1px solid #999;
    border-radius:5px;
    box-shadow: 0px 5px 8px rgba(0,0,0,.2) inset;
    width:150px;
    box-sizing: content-box;
    margin:0 10px 0 0;
    
    &:focus {
        border:1px solid blue;
    }  

}

.g-button {

    padding: 8px;
    border: 1px solid #999;
    background: none;
    border-radius:10px;
    width: auto;
    box-sizing: content-box;
    margin: 0 10px 0 0;
    cursor: pointer;
    vertical-align: top;    
    display: inline-block;
    font-size: 16px;   
    background-repeat: no-repeat !important;   
    
    &.air {
        border: 1px solid rgba(0,0,0,0);
        margin-right: 0;
    } 
    
    &.icon-only {
        width: 20px;
        background-position: center center !important;
    }
    
    &.icon-and-text {
        background-position: 8px center !important;
        padding: 8px 8px 8px 28px;
    }
     
    &:hover {
        background: rgba(0,0,0,.05);
        border:1px solid #999;
    }
    
    &:focus {
        outline: none;
    }
    
    &:active, &.active {
        box-shadow: 0px 5px 8px rgba(0,0,0,.2) inset;
        padding-top: 9px;
        padding-bottom: 7px;
    }    
 
}

.g-header {
    font-size: 24px;
    padding:0;
    margin: 0 0 20px 0;
    font-weight: normal;    
}

.icon24(@name) {
    background-image: url("@{bundle}res/img/icons24/@{name}.png");
}

.icon24i(@name) {
    background-image: url("@{bundle}res/img/icons24i/@{name}.png");
}


