.ui-icon16(@file) {
    @url: "@{bundle}res/img/icons16/@{file}.png";
    background: url(@url);
}

.g-input {

    padding:8px;
    border:1px solid #999;
    border-radius:5px;
    box-shadow: 0px 5px 8px rgba(0,0,0,.2) inset;
    width:150px;
    box-sizing: content-box;
    margin: 0;
    
    &:focus {
        border:1px solid blue;
    }    
}

.g-button {
    padding:8px;
    border:1px solid #999;
    background: white;
    border-radius:10px;
    width: auto;
    box-sizing: content-box;
    margin:0 10px 0 0;
    cursor: pointer;
    vertical-align: top;
     
    &:hover {
        background :#ededed;
    }
    
    &:active, &.active {
        box-shadow: 0px 5px 8px rgba(0,0,0,.2) inset;
        padding-top: 9px;
        padding-bottom: 7px;
    }    
 
}

.g-header {
    font-size: 24px;
    padding:0;
    margin: 0 0 20px 0;
    font-weight: normal;    
}