.H9IXl57L0B {
    
    padding: 40px;
    
    form {
        margin-bottom: 20px;
    }
    
    .task-list {
        
        //table-layout: fixed;
        width: 100%;
        
        td {
            border: 1px solid #ccc;
            width: 100px;
            padding: 8px;
            vertical-align: middle;
        }
        
        .text {
            width: 100%;
            min-width: 400px;
            word-break: break-all;
        }
        
        tr:hover {
            background: #ededed;
        }
        
        .bottom {
            font-weight: bold;    
        }
    }
    
    thead {
        td {
            font-weight: bold;
        }
    }
    
    .status {
        font-size: 11px;
    }
    
    .changed {
        font-size: 11px;
    }
    
}