.payments-list-j5mafyccpm {
    
    position: relative;
    
    
    .list {
        
        
    }
    
    .loader {
        display: none;
        position: absolute;
        left: 50%;
        margin-left: -110px;
        top: 100px;
    }
    
}