.getcbtu0lh {

    padding:10px;
    
    .item {
        display:inline-block;
        width:100px;
        height:100px;
        box-shadow: 0 0 10px rgba(0,0,0,.2);
        margin: 10px;
    }
    
    .selected {
        outline:1px solid blue;
    }

}