.getcbtu0lh {

    padding:10px;
    
    .path {
        margin: 0 0 10px 10px;
        .back-path {
            margin-right: 10px;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
        .spacer {
            margin-right: 10px;
        }
    }
    
    .list-item {
    
        display:inline-block;
        position: relative;
        width:150px;        
        margin: 10px;
        text-align: center;
        
        .preview {
            width:150px;
            height:150px;
            margin-bottom: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,.2);
        }
        
        .name, .size {
            font-size:12px;
            overflow: hidden;
            white-space:nowrap;
            opacity: .5;
        }
        
        .select-handle {
            width:50px;
            height: 50px;
            position: absolute;
            right: 0;
            top: 0;
            opacity: 0;
            background: @selection center center no-repeat;     
            .icon24i("ok");            
        }
        
        &:hover {
            .select-handle {
                opacity: .5;
            }
        }
        
    }
    
    .selected {
        outline:10px solid @selection;
        background: @selection;
        * {
            color:white;
        }
        .select-handle {
            opacity: 1 !important;
        }
    }

}