.zjvrux95g2 {

    -webkit-user-select: none;

    .body {
        padding: 2px;
    }
    
    .name {
        cursor: pointer;
    }

    .node:hover > .body > .name {
        text-decoration: underline;        
    }
    
    .body.selected {
        background: #0099C6;
        color: white;        
    }

    .subdivisions {
        padding-left: 20px;
        display: none;
    }
    
    .expanded > .subdivisions {
        display: block;
    }
    
    .expander {
        padding: 0 6px;
        cursor: pointer;
    }
    
    .expander:before {
        content: "+";
    }
    
    .expanded > .body > .expander:before {
        content: "-" !important;
    }

}