.Uu8qdmPUCT {
    
    width: 380px;
    margin: 0 auto;
    padding-top: 100px;
    
    h1 {
        text-align: center;
        margin-bottom: 10px;
    }
    
    td {
        padding: 10px;
        vertical-align: middle;
        &:first-child {
            width: 120px;
        }
    }
    
    .error {
        color: red;
        font-weight: bold;
        line-height: 1;
    }
    
    
}