html,body {
}

.layout-slpod3n5sa {

    table-layout:fixed;

    & > tbody > tr > td {
        &.left {
            width:100%;
            height:100%;
            
        }
        &.right {
            width:400px;
            height:100%;
            border-left: 1px solid #ededed;
        }
    }
    
}

a {
    color: #1e0fbe;
}

* {

    ::-webkit-scrollbar {
        height: 12px;
        width: 12px;
    }    
    
    ::-webkit-scrollbar-thumb {
        background: rgba(0,0,0,.4);
    }

}