html,body {
    height:100%;
    overflow: hidden;
}

.layout-slpod3n5sa {
    height:100%;
    
    & > .right {
        width: 300px;
        border-left: 1px solid #ccc;
    }
    
}

.task-container-slpod3n5sa {
    position: absolute;
    width:100%;
    left:0;
    top:0;
    background: white;
    display: none;
    
    & > .close {
        position:absolute;
        right: 10px;
        top: 10px;
    }
    
    & > .ajax {
        height:100%;
    }
    
}

a {
    color: #1e0fbe;
}

* {

    ::-webkit-scrollbar {
        height: 12px;
        width: 12px;
    }    
    
    ::-webkit-scrollbar-thumb {
        background: rgba(0,0,0,.4);
    }

}

.g-toolbar {
    padding: 6px;
    background: #ededed;
}



.g-input-long {
    width: 400px !important;
}
