.hSPlyiV6sp {
    
    overflow: hidden;
    margin-bottom: 20px;    
    
    .group {
        margin-right: 10px;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
        
        .count {
            font-size: 11px;
            position: relative;
            top: -7px;
        }
        
    }
    
}