.Y54PCKLOIE {
    display: inline-block;
    width: 120px;
    height: 120px;
    margin: 0 8px 8px 0;
    background: rgb(0,128,0);
    color: white;
    font-size: 120px;
    line-height: 110px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}