.Y54PCKLOIE {
    display: inline-block;
    width: 120px;
    height: 120px;
    margin: 0 28px 28px 0;
    background: rgb(0,128,0);
    color: white;
    font-size: 120px;
    line-height: 110px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    opacity: .5;
    border-radius: 5px;
    
    &:hover {
        opacity: 1;
    }
    
}