.i95bnu5fvm {

    display: inline-block;
    width: 120px;
    margin: 0 10px 10px 0;
    white-space: normal;
    
    .sticker {
        width: 120px;
        height: 120px;        
        font-size: 11px;
        line-height: 1.1;
        cursor: pointer;
        border:1px solid rgba(0,0,0,.1);
        position: relative;
        box-shadow: 0 0 2px rgba(0,0,0,.2);
        overflow: hidden;
        
    }
    
    &:hover {
        .sticker {
            border: 1px solid blue;
        }
    }
    
    &.drag-enter .sticker {
        outline: 2px dotted green;
    }
    
    .text {
        overflow: hidden;
        padding: 0 4px 4px;
    }
    
    .title {
        font-weight: bold;
        margin-bottom:3px;
        padding:2px;
    }
    
    .tools-wrapper {
    
        position: absolute;
        left:0;
        bottom:0;
        width: 100%;        
        height: 45px;
        overflow: hidden;
        
        .tools {
            position: absolute;
            left:0;
            top:45px;
            width: 100%;
            background: rgba(0,0,0,.8);
            height: 45px;
            
            input {
                display:inline-block;
                width: 45px;
                height:45px;
                box-sizing: border-box;
                border: none;
                &:hover {
                    background-color: gray;
                }
            }
            
            .take {
                background: url("@{bundle}res/img/icons24inverse/take.png") center center no-repeat;
            }
            
            .resume {
                background: url("@{bundle}res/img/icons24inverse/resume.png") center center no-repeat;
            }
            
            .problems {
                background: url("@{bundle}res/img/icons24inverse/problems.png") center center no-repeat;
            }
            
            .cancel {
                background: url("@{bundle}res/img/icons24inverse/cancel.png") center center no-repeat;
            }
            
            .stop {
                background: url("@{bundle}res/img/icons24inverse/stop.png") center center no-repeat;
            }
            
            .done {
                background: url("@{bundle}res/img/icons24inverse/done.png") center center no-repeat;
            }
            
        }        
    }

}