.mcGSvrqQ3m {
    
    position: relative;
    display: inline-block;
    width: 120px;
    height: 120px;
    margin: 0 30px 30px 0;
    white-space: normal;
    cursor: pointer;

    @width: 120px;
    @height: 120px;
    @border-color: #888;
    
    .content {
        position: absolute;
        width: 110px;
        left: 5px;
        top: 20px;
        
        .subtask {
            width:15px;
            height: 15px;
            background: rgba(0,0,0,.7);
            display: inline-block;
            margin: 0 2px 2px 0;
        }
    }
    
    .edit {
        position: absolute;
        right: 5px;
        bottom: 5px;
        width: 16px;
        height: 16px;
        background: url("@{bundle}res/img/icons16/edit.png");
        opacity: .7;
        &:hover {
            opacity: 1;
        }
    }
    
    .folder {

        -webkit-perspective: 800px;
        -moz-perspective: 800px;
        perspective: 800px;
    
        width: @width;
        height: @height;
    }
    
    .folder div {
        
        width: @width;
        height: @height;
    
        border: 1px solid @border-color;
    
        position:absolute;
        top: 0;
        left: 0;
    }

    .folder .front{
        border-radius:5px 5px 0 0;
    
        -moz-transform:rotateX(-30deg);
        -webkit-transform:rotateX(-30deg);
        transform:rotateX(-30deg);
    
        -moz-transform-origin:50% 100%;
        -webkit-transform-origin:50% 100%;
        transform-origin:50% 100%;
    
        background: white;
    }

    .folder .back{
        background: white;
        border-radius:0 5px 0 0;
        box-shadow:0 -1px 1px rgba(0,0,0,0.15);
    }
    
    /* The top part */
    .folder .back:before{
        content:'';
        width:60%;
        height:10px;
        border-radius:4px 4px 0 0;
        background: white;
        position:absolute;
        top:-10px;
        left:0px;
        border-top: 1px solid @border-color;
        border-left: 1px solid @border-color;
        border-right: 1px solid @border-color;
    }
    
}