.FLQbxUZK3f {
    
    padding: 10px;
    background: rgba(240,220,0,0.5);
    
    .clear-filter, .configure-filter {
        text-decoration: underline;
        cursor: pointer;
        margin-right: 10px;
    }
    
    .text {
        margin-right: 20px;
    }
    
}