.x1arvpu0c38 {

    padding:10px;    
    
    .items {
    
        .list-item {
       
            &:hover {
               // background:#ededed;
            }
            
            &.selected {
                background: @selection;
                color: white;
                a {
                    color: white;
                }
                &:hover {
                    //background: darken(@selection-color,3);
                }
            }
            
        }
    
    }
    
}