.yy0l0qu78b {

    padding:20px; 
    
    .items {
    
        .item {
        
            display: inline-block;
            position: relative;
            width: 120px;
            margin: 10px;
            padding:10px;
       
            &:hover {
                background:#ededed;
            }
            
            &.selected {
                background: @selection;
                &, * {
                    color: white;
                }
                .select-handle {
                    opacity: 1 !important;
                }
            }
            
            img {
                border: 1px solid #ededed;
                display:block;
                margin-bottom: 5px;
            }
            
            .name {
                overflow: hidden;
                text-overflow: ellipsis;
            }
            
            .select-handle {
                width:50px;
                height: 50px;
                position: absolute;
                right: 0;
                top: 0;
                opacity: 0;
                background: @selection center center no-repeat;     
                .icon24i("ok");            
            }
            
            .sort-handle {
                width:50px;
                height: 50px;
                position: absolute;
                left: 0;
                top: 0;
                .icon16("sort");      
                cursor: pointer;
                display: block;
            }
            
            &:hover {
                .select-handle {
                    opacity: .5;
                }
            }
            
        }
        
        
    
    }
    
}