.yS4JEF3JKQ {
    
    padding:15px;
    border-bottom: 1px solid #ededed;

    &:last-child {
        border-bottom: none;
    }
    
    .items td {
        vertical-align: middle;
        padding: 4px 10px 4px 0;
    }
    
}