.xx63vckg1k {
    
    padding: 10px;

    .item {
        margin-right: 10px;
        text-decoration: none;
        display: inline-block;
        padding: 5px 10px;
        border-radius: 10px;
        color: white;
        opacity: .7;
        
        &:hover {
            text-decoration: underline;    
        }
        
    }
    
    .active {
        font-weight: bold;
        background: rgb(0,170,0);
        color: white;
        opacity: 1;
    }
    
    sup {
        margin-left: 5px;
        opacity: .5;
    }

}