.ttbuu8389u {

    .iconPack(@pack) {
    
        .take {
            background: url("@{bundle}res/img/@{pack}/take.png") center center no-repeat;
        }
        
        .pause {
            background: url("@{bundle}res/img/@{pack}/pause.png") center center no-repeat;
        }
        
        .resume {
            background: url("@{bundle}res/img/@{pack}/resume.png") center center no-repeat;
        }
        
        .problems {
            background: url("@{bundle}res/img/@{pack}/problems.png") center center no-repeat;
        }
        
        .cancel {
            background: url("@{bundle}res/img/@{pack}/cancel.png") center center no-repeat;
        }
        
        .revision {
            background: url("@{bundle}res/img/@{pack}/revision.png") center center no-repeat;
        }
        
        .stop {
            background: url("@{bundle}res/img/@{pack}/stop.png") center center no-repeat;
        }
        
        .done {
            background: url("@{bundle}res/img/@{pack}/done.png") center center no-repeat;
        }
        
        .complete {
            background: url("@{bundle}res/img/@{pack}/complete.png") center center no-repeat;
        }
        
        .problem {
            background: url("@{bundle}res/img/@{pack}/problem.png") center center no-repeat;
        }
        
    }    
    
    input {
        display:inline-block;
        width: 45px;
        height:45px;
        box-sizing: border-box;
        margin-right:10px;
        border: none;
        cursor: pointer;
        &:hover {
            background-color: #ccc;
            border-radius: 5px;
        }
    } 
    
    .iconPack("icons24");
}