.ddw7fs4b37 {
    
    height: 100%;
    
    & .left {
        
        width:60px;
        padding-top: 10px;
        
        .tab {
            width: 60px;
            height: 60px;
            cursor: pointer;
            background-position: center center ! important;
        }
        
        .active {
            background: #ededed;    
        }
    }
    
    & > .center {
        padding: 10px;
        overflow: auto;
    }
    
}