.w55x5kpuq0 {

    padding:40px;
    
    h1 {
        font-size:24px;        
        font-weight:normal;
    }
    
    .name {
        font-size:18px;
        margin-bottom:5px;
    }
    
    .event {
        margin-bottom:20px;
    }

}