.owr2pqc8y2 {

    padding: 30px;
    
    h1 {
        font-size:24px;        
        font-weight:normal;
        margin-bottom: 20px;
    }
    
    .service {
    
        margin-bottom: 20px;
    
        .name {
            font-weight: bold;
            margin-right:10px;
        }
        
        .class {
            color:gray;
        }
        
        .comment {
            padding-left: 20px;
        }
    
    }
    
}