.h4icank8er {

    width:6%;
    position:relative;
    display: inline-block;
    margin-right:1%;
    
    .month {
        position: absolute;
        bottom: 0;
        width:100%;
        text-align: center;
        font-size:11px;
        color: gray;
    }
    
    .total {
        text-align: center;
        font-size:11px;
        color: gray;
        white-space: nowrap;
        & + .total {
            margin-bottom: 5px;
        }
    }

}