.h4icank8er {

    width:6.5%;
    position:relative;
    display: inline-block;
    margin-right:1%;
    
    .month {
        position: absolute;
        bottom: 0;
        width:100%;
        text-align: center;
    }

}