.gdiqqd1vn4 {

    -webkit-user-select: none;

    .body {
        padding: 2px;
        background-repeat: no-repeat;
        background-position: 20px 50%;
        cursor: pointer;
        white-space: nowrap;
    }
    
    .name {        
        padding-left:20px;
    }

    .node:hover > .body > .name {
        text-decoration: underline;        
    }
    
    .body.selected {
        background-color: #0099C6;
        color: white;        
    }

    .subdivisions {
        padding-left: 20px;
        display: none;
    }
    
    .expanded > .subdivisions {
        display: block;
    }
    
    .expander {
        padding: 0 6px;
        cursor: pointer;
    }
    
    .expander:before {
        content: "+";
    }
    
    .expanded > .body > .expander:before {
        content: "-" !important;
    }

}