.mwf8wqyh3i {

    -webkit-user-select: none;

    .body {
        padding: 2px;
        background-repeat: no-repeat;
        background-position: 20px 50%;
        cursor: pointer;
        white-space: nowrap;
        display: flex;
    }
    
    .name {        
        padding-left: 22px;
        padding-right: 5px;
        flex: 1;
    }

    .name:hover {
        text-decoration: underline;        
    }
    
    .node.selected > .body {
        background-color: #0099C6;
        color: white;        
    }

    .subdivisions {
        padding-left: 20px;
        display: none;
    }
    
    .expanded > .subdivisions {
        display: block;
    }
    
    .expander {
        display: inline-block;
        width:10px;
        padding-left: 6px;
        cursor: pointer;
        flex-shrink: 0;
    }
    
    .expander-spacer {
        display: inline-block;
        width: 16px;
        flex-shrink: 0;
    }
    
    .expander:before {
        content: "+";
    }
    
    .expanded > .body > .expander:before {
        content: "-" !important;
    }
    
    .js {
        color: red;
        margin: 0 3px;
        font-size: 11px;
    }
    
    .css {
        color: blue;
        margin: 0 3px;
        font-size: 11px;
    }

}