.IY8rTwBxKh {
    
    h1 {
        font-size: 24px;
        margin-bottom: 20px;
        font-weight: normal;
    }
    
    .item {
        width: 202px;
        height: 202px;
        margin: 0 20px 20px 0;
        display: inline-block;
        
        img {
            width: 200px;
            height: 200px;
            border: 1px solid #ccc;
            display: block;
        }
        
    }
    
}