.rcog1oiaxe {
    
    .date {
        color: gray;
        font-style: italic;
        margin-bottom:10px;
    }
    
    .comment {
        
        margin-bottom: 3px;
        position: relative;
        
        .time {
            position: absolute;
            right:0;
            top:0;
            font-size:11px;
            color: gray;
        }
        
        .user {
            font-size:11px;
        }
    }
    
}