.task-list-zjnu1r2ofp {
    .task-item {
        display: inline-block;
        width: 130px;
        height: 160px;
        margin: 10px;
        text-decoration: none;
        color: #000;
        font-size: 12px;
        cursor: pointer;
        
        & > .sticker {
            width: 128px;
            height: 128px;
            border: 1px solid rgba(0, 0, 0, 0.3);
            position: relative;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
            background-color: white; 
            
            & > .head {
                padding: 4px 0px 4px 20px; 
                font-weight: bold; 
                white-space: nowrap; 
                overflow: hidden; 
                text-overflow: ellipsis; 
                height: 12px; 
                cursor: pointer; 
                text-decoration: none; 
                background-position: 2px 50%; 
                background-repeat: no-repeat no-repeat;
                
                &:hover {
                    text-decoration: underline;
                }
            }
            
            & > .description {
                margin: 5px;
                position: relative;
                
                & > .wraper {
                    height: 98px;
                    overflow: hidden;        
                }
                
                & > .controls {
                    position: absolute;
                    top: -5px;
                    left: -5px;
                    background-color: rgba(0, 0, 0, 0.8);
                    width: 128px;
                    height: 108px;
                    position: absolute;
                    display: none;
                    
                    & > .take {
                        position: absolute;
                        left: 0px;
                        width: 128px;
                        height: 108px;
                        color: white;
                        cursor: pointer;
                        background-image: url("@{bundle}res/img/icons24inverse/take.png");
                        background-size: 24px;
                        background-position: 50% 50%;
                        background-repeat: no-repeat no-repeat;
                        
                        &:hover {
                            background-size: 26px;        
                        }
                    }
                    
                    & > .edit {
                        position: absolute;
                        right: 0px;
                        bottom: 0px;
                        width: 24px;
                        height: 24px;
                        cursor: pointer;
                        background-image: url("@{bundle}res/img/icons16inverse/edit.png");
                        background-size: 16px;
                        background-position: 50% 50%;
                        background-repeat: no-repeat no-repeat;
                        
                        &:hover {
                            background-size: 18px;        
                        }
                    }        
                }
        
                &:hover {
                    
                    & > .controls {
                        display: block;    
                    }
                }    
            }
        }    
        
        & > .support-block {
            height: 30px;
            
            & > .info {
                display: block;
                padding: 4px;
            }
            
            & > .controls {
                padding: 4px;
                display: none;
                
                .button {
                    width: 24px;
                    height: 22px;
                    font-size: 12px;
                    background-position: 4px 50%;
                    background-repeat: no-repeat no-repeat;
                    display: inline-block;
                    margin-right: 5px;
                    border: 1px solid rgba(0, 0, 0, 0);
                    cursor: pointer;
                      
                    &:hover {
                        border: 1px solid rgba(0, 0, 0, 0.3);
                        border-radius: 2px;
                    }       
                }
                
                & > .cancel {
                    background-image: url("@{bundle}res/img/icons16/cancel.png");     
                }
                
                & > .problems {
                    background-image: url("@{bundle}res/img/icons16/problems.png");     
                }    
            }
        }
        
        &:hover {
        
            & > .support-block {
            
                & > .info {                
                    display: none;
                }
                
                & > .controls {
                    display: block;
                }    
            }    
        }
    }
}