.nRjkjN8GAn {
    
    & > .header {
        
        padding: 20px;
        color: white;
        background: #333;
        
        & > .add-type {
            display: inline-block;
            cursor: pointer;
            margin-right: 10px;
            &:hover {
                text-decoration: underline;
            }
        }
        
    }
    
    & > .content {
        
        position: relative;
        
        & > .nodes {
            position: absolute;
            left: 0;
            top: 0;
        }
        
        & > .links {
            position: absolute;
            left: 0;
            top: 0;
            pointer-events: none;
            
            path {
                cursor: pointer;
                pointer-events: auto;
                stroke: rgba(0,0,0,.4);
                stroke-width: 6px;
                fill: none;
                &:hover {
                    stroke: red;
                }
            }
            
        }
        
    }
    
}