.payment-list-m0hv68kxht {

    padding: 20px;
    
    a {
        text-decoration:none;
        color:black;
    }
    
    thead {
    
        tr:hover td {
            background: #fff;
        }
    
        td {
            color:gray;
            font-style: italic;
            padding-bottom: 20px;
        }
    }
    
    td {
        padding: 5px 10px;
        border-bottom: 1px solid #ededed;
        &.paymentStatus-100 {
            background: #e6be33;        
        }
        &.paymentStatus-200 {
            background: #bbd633;        
        }
    }
    
    tr:hover td {
        background: #ededed;
        &.paymentStatus-200 {
            background: #adc62c;        
        }
        &.paymentStatus-100 {
            background: #d6b130;        
        }
    }
    
    .id, .date {
        font-size:11px;
        a {
            color: gray;
        }
    }
    
    .income a {
        color: green;
        font-weight: bold;
    }
    
    .expenditure a {
        color: red;
        font-weight: bold;
    }
    
    .group a {
        color: gray;
        font-style: italic;
        font-size:11px;
    }
    
    .status {
        font-size: 11px;
    }
    
    .total {
        td {
            font-weight: bold;
            padding-top:20px;
        }
    }
    
}