.ynRXmfiIV4 {
    
    padding: 20px;
    
    .comments-form {
        display: none;
    }
    
    .do-comment {
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    
}