.NxEX1Vh7h0 {
    
    .date {
        color: gray;
        font-style: italic;
        margin: 5px 20px;
        font-size: 11px;
    }
    
    .comment {
        
        table-layout: fixed;
        width: 100%;
        
        &:last-child td {
            padding-bottom: 10px;
        }
        
        td:first-child {
            padding-left:20px;
        }
        
        td:last-child {
            padding-right:10px;
        }
        
        &:hover {
            background: rgba(0,0,0,.1);
        }
        
        img {
            display: block;
        }
        
        td {
            padding: 3px 0;
        }
        
        .type {
            padding-top: 5px;
            width:20px;
        }
        
        .userpic {
            width:20px;
            padding-top: 5px;
        }
        
        .user {
            width: 70px;
            font-size: 11px;
            opacity: .5;
            padding-top: 5px;
        }
        
        .text {
            width: 100%;
        }
        
        .time {
            width: 40px;
            font-size: 11px;
            opacity: .5;
            padding-top: 6px;
        }
        
    }
    
}