.NxEX1Vh7h0 {
    
    .date {
        color: gray;
        font-style: italic;
        margin-bottom:10px;
    }
    
    .comment {
        
        table-layout: fixed;
        width: 100%;
        
        &:hover {
            background: #ededed;
        }
        
        img {
            display: block;
        }
        
        td {
            vertical-align: middle;
            padding: 3px 0;
        }
        
        .type {
            width:20px;
        }
        
        .userpic {
            width:20px;
        }
        
        .user {
            width: 70px;
            font-size: 11px;
            opacity: .5;
        }
        
        .text {
            width: 100%;
        }
        
        .time {
            width: 40px;
            font-size: 11px;
            opacity: .5;
        }
        
    }
    
}