.x0h4tfwmhnn {

    table-layout:fixed;
    width:100%;
    min-height: 400px;
    
}

.g-input {

    padding:6px;
    border:1px solid #999;
    border-radius:3px;
    box-shadow: 0px 5px 8px rgba(0,0,0,.2) inset;
    width:150px;
    
    &:focus {
        border:1px solid blue;
    }
    
}
