.pp7cpa1wpc {
    
    .node {
    
        white-space: nowrap;
    
        .expand {
            cursor:pointer;
            &:hover {
                background: #ededed;
            }
        }
        
        .node-title {
            display: inline-block;
            max-width: 300px;
            text-overflow: ellipsis;
            overflow:hidden;          
        }
        
        .subdivisions {
            padding-left: 20px;
        }
    
    }    
    
}