.mcGSvrqQ3m {
    
    background: #f5f5ea;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    cursor: pointer;
    
    &:hover {
        background: #ededed;
    }
    
}