.i95bnu5fvm {

    border-bottom: 1px solid rgba(0,0,0,.2);
    padding: 5px 0;
    cursor: pointer;
    
    &.active {
        background: #f5f5ea;
    }
    
    &:hover {
        background: #ededed;
    }
    
}