.ncecpy3pn9 {

    color: white;    
    padding:10px;
    
    a {
        color:white;
        padding:10px 15px;
    }
    
    .item {        
        text-decoration:none;
        font-size:18px;
        &:hover {
            text-decoration:underline;
        }
        &.active {
            background: rgba(255,255,255,.7);
            color:#006622;
        }
    }
    
    .spacer {
        padding-left: 100px;
    }
    
    .me {
        margin-right: 10px;
    }
    
    .me, .logout {
        float:right;
    }
    
    .logout {
        cursor: pointer;
        text-decoration: underline;
    }

}

.gradient-pattern {
    text-overflow: clip;
    background: -webkit-linear-gradient(45deg, rgba(255,255,255,0.2) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 50%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 75%, rgba(0,0,0,0) 75%, rgba(0,0,0,0) 0), rgb(170, 204, 0);
    background: -moz-linear-gradient(45deg, rgba(255,255,255,0.2) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 50%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 75%, rgba(0,0,0,0) 75%, rgba(0,0,0,0) 0), rgb(170, 204, 0);
    background: linear-gradient(45deg, rgba(255,255,255,0.2) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 50%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 75%, rgba(0,0,0,0) 75%, rgba(0,0,0,0) 0), rgb(170, 204, 0);
    background-position: auto auto;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: 50px 50px;
    background-size: 50px 50px;  
}