.ncecpy3pn9 {

    background: blue;
    color: white;
    padding:10px;
    
    a {
        color:white;
    }
    
    .item {
        padding-right:7px;
        text-decoration:none;
        font-size:18px;
    }

}