.erjk605ygl {

    padding: 10px;
    
    .bundle-name, .files, .theme {
        padding: 2px 0;
    }
    
    .files, .theme {
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    
    .subdivisions {
        padding-left: 20px;
    }

}