.erjk605ygl {

    padding: 10px;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    
    -webkit-user-select: none;

    .body {
        padding: 2px;
        background-repeat: no-repeat;
        background-position: 20px 50%;
        cursor: pointer;
        white-space: nowrap;
        display: flex;
    }
    
    .name {
        flex: 1;
    }

    .name:hover {
        text-decoration: underline;        
    }
    
    .node.selected > .body {
        background-color: #0099C6;
        color: white;        
    }

    .subdivisions {
        padding-left: 20px;
        display: none;
    }
    
    .expanded > .subdivisions {
        display: block;
    }
    
    .expander {
        display: inline-block;
        width: 10px;
        padding: 0 4px;
        cursor: pointer;
        text-align: center;
        &:hover {
            background: #ededed;
            border-radius: 5px;
        }
    }
    
    .expander-spacer {
        display: inline-block;
        width: 18px;
    }
    
    .expander:before {
        content: "+";
    }
    
    .expanded > .body > .expander:before {
        content: "-" !important;
    }

}