.vehszhivmz {

    padding:10px;
    border: 1px solid #ededed;
    
    .button {
    
        border: 1px solid #ededed;
        padding: 5px 8px;
        display: inline-block;
        margin-right: 5px;
        border-radius: 5px;
        cursor: pointer;
        
        &:hover {
            background: #ededed;
            border: 1px solid #ccc;
        }
    }
    
    .list-item {
        cursor:pointer;
    }
    
    .list-item.selected {
        background: gray;
    }

}