.gpudbjvgc1 {

    width:100%;
    table-layout: fixed;
    
    td {
        vertical-align: middle;
    }

    .label {
        width: 200px;
        font-style: italic;
        color: gray;
    }

}

.gpudbjvgc1-checkbox {
    padding-left: 200px;
}