.f0rw8hlkvh {

    table-layout:fixed;
    width:100%;
    
    td {
        vertical-align:middle;
    }

    .label {
        width:200px;
        text-align:right;
    }
    
    textarea {
        width:100%;
        height:100px;
    }

}