.f0rw8hlkvh {

    textarea {
        .g-input();
        width:100%;
        height:100px;
    }
    
    .toolbar {
        span {
            cursor: pointer;
            margin-right: 10px;
        }
    }
    
    pre {
        .g-input();
        overflow: auto;
        width: 100%;
        box-sizing: border-box;
        max-height: 150px;
        white-space: pre-wrap;
        background: #ededed;
    }

}