.i95bnu5fvm {
    
    display: inline-block;
    width: 160px;
    height: 160px;
    margin: 10px;
    font-size: 12px;
    cursor: pointer;
    border:1px solid #ededed;
    overflow: hidden;
    background: white;
    padding: 6px;
    position: relative;
    
    .text {
        
    }
    
    .title {
        font-weight: bold;
        margin-bottom:3px;
    }
    
    .tools {
        position: absolute;
        left:0;
        bottom:0;
        width: 100%;
        background: rgba(0,0,0,.8);
        height: 45px;
        display: none;
    }

}