.i95bnu5fvm {
    
    display: inline-block;
    width: 130px;
    height: 160px;
    margin: 10px;
    font-size: 12px;
    cursor: pointer;
    border:1px solid #ededed;
    overflow: hidden;
    background: white;

}