.mQ2bn91Yw {
    
    height: 100%;
    overflow: hidden;
    
    .toolbar {
        background: #ededed;
        padding: 5px;
    }
    
    .ajax {
        overflow: auto;
        padding: 10px;
    }
    
}