.edJEHvd7pc {
    
    padding: 20px 10px 0 20px;
    
    span {
        margin-right: 10px;
        cursor: pointer;
    }
    
    span.active {
        background: #ccc;
        padding: 4px 8px;
        border-radius: 5px;
    }
    
    span:hover {
        text-decoration: underline;
    }
    
}