.x1arvpu0c38 {

    padding:20px;    
    
    .items {
    
        .list-item {
       
            &:hover {
                background:#ededed;
            }
            
            &.selected {
                border:1px solid red;
            }
            
        }
    
    }
    
}