.x1arvpu0c38 {

    padding:20px;    
    
    .items {
    
        .list-item {
       
            &:hover {
                background:#ededed;
            }
            
            &.selected {
                background: #0099C6;
                color: white;
                a {
                    color: white;
                }
                &:hover {
                    background: darken(#0099C6,3);
                }
            }
            
        }
    
    }
    
}