.w7ywyb7f5 {

    padding:40px;
    
    h1 {
        font-size:24px;        
        font-weight:normal;
    }
    
    td {
        padding: 4px 10px 4px 0;
    }
    
    .class, .method {
        opacity: .5;
    }

    .error {
        background: red;
        color: white;
    }
    
    .warning {
        background: yellow;
        color: black;
    }

}