.s9nh9b1znm {
    
    textarea {
        .g-input();
        width:400px;
        height:100px;
        resize: none;
        box-sizing: border-box;
        margin-right:0;
    }
    
    .clone {
        height: 1px !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

}