.x8zq1fi07zr {    

    position:relative;
    display:inline-block;
    margin-right: 10px;
    
    input {
        .g-input();
        margin:0 !important;
    }
    
    @icon: "@{bundle}res/img/icons16/delete.png";
    
    .button {        
        position:absolute;
        right:5px;
        top: 5px;
        width: 24px;
        height: 24px;
        background: url(@icon) center center no-repeat;
        cursor: pointer;
        opacity: .1;
        
        &:hover {
            opacity: 1;
        }
    }
    
}