.comments-fbknw356c6 {
    table {
        
        td {
            padding: 5px;
            
            .userName {
                color: #777;    
            }
            
            .date {
                color: #777;
                font-size: 12px;
                margin-left: 10px;    
            }
        }
        
        border-bottom: 1px solid #aaa;
    }    
}