.comments-fbknw356c6 {
    table {
        
        td {
            padding: 5px;
            
            .userName {
                color: #777;    
            }
        }
        
        border-bottom: 1px solid #aaa;
    }    
}