.ySKppTIlwg {
    
    margin-bottom: 20px;
    
    .value {
        background: blue;
        color: white;
        padding: 2px 4px;
    }
    
    .descr {
        font-style: italic;
        color: gray;
    }
    
}