html, body {
    height: 100%;
}

.zdh71269gn {

    & > .main > .tabs > .tabs-head {
    
        background: #ededed;
        padding: 10px;
        
        & > div {
            display: inline-block;
            margin-right: 10px;
            cursor: pointer;
        }
        
        & > .active {
            font-weight: bold;
        }
        
        .close {
            margin-left:5px;
        }
        
    }
    
    & > .right {
        width:250px;
        border-left: 1px solid #ccc;
        overflow: auto;
    }    

}