.mwf8wqyh3i {
    
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    
    .toolbar {
        padding: 5px;
        background: #ededed;
    }
    
    .files {
        padding: 20px;
        flex: 1;
        overflow: auto;
    }
    
}