.a5mJFdwVMY {
    
    padding:5px 10px;
    border-bottom: 1px solid #ededed;
    font-size: 18px;

    &:last-child {
        border-bottom: none;
    }

    img {
        margin-right: 10px;
    }
    
    td {
        vertical-align: middle;
    }
    
    .status {
        width: 100px;
        opacity: .5;
        font-size: 11px;
        font-style: italic;
        text-align: right;
    }
    
    .group {
        width: 300px;
        font-size: 11px;
    }
    
    .sort-handle {
        width: 30px;
        .icon16("sort");
        opacity: .3;
        cursor: pointer;
    }
    
}