.staff-x1lsfa0a64l {
    border:1px solid #ededed;

    .controls {
        .g-toolbar();
        position: relative;       
    }
    
    .list {
        td {
            padding: 5px;
        }
    }
}