.EW07Pdzytr {
    
    input {
        padding: 8px;
    }
    
    td {
        vertical-align: middle;
        padding: 4px 20px 4px 0;
        font-style: italic;
    }
    
    .error-msg {
        background: red;
        color: white;
        padding: 4px;
        display: none;
    }
    
    .error {
        border: 1px solid red;
    }
    
}