.iuh5t5jrex {

    color: black;  
    a {
        color: black;
        text-decoration: none;
        &:hover {
            text-decoration: underline;    
        }
    }
    
    img {
        display: block;
    }
    
    &.inverse {
        color: white;
        a {
            color: white;
        }
    }
    
    h2 {
        .g-header();
    }
    
    .header {
    
        width:100%;
        table-layout: fixed;
        
        td {
            padding: 10px;
            font-size:24px;
        }
    
    }
    
    .bargains {
        
        width:100%;
        
        tr:hover {
            background: rgba(0,0,0,.2);
        }
        
        td {
            padding: 5px 10px 3px 10px;
            vertical-align: middle;
        }
        
        .description {
            padding-top: 0;
            font-size: 12px;
            opacity: .7;
            opacity:.7;
        }
        
        .status {
            font-size:11px;
            margin-left: 10px;
            font-style:italic;
        }
        
    }
    
    .payments {
        
        width:100%;
        
        tr:hover {
            background: rgba(0,0,0,.2);
        }
        
        td {
            padding: 2px 10px 2px 10px;
            vertical-align: middle;
        }
        
        .org {
            .sum {
                font-weight: bold;
            }
        }
    
        .payment {
            
            font-size:12px;
            
            .description {
                opacity:.7;
            }
            
            .date {
                opacity:.5;
            }
            
            .sum {
                white-space: nowrap;
                opacity: .7;
            }
            
            .user {
                padding-right: 5px;
            }
            
            tbody:last-child tr:last-child td {
                padding-bottom: 20px;
            }
            
            .status {
                font-size:11px;
                margin-left: 10px;
                font-style:italic;
            }
        }
    }
}