.x0f1k9gbr5c {

    .log {
        margin-left:10px;
        opacity: .5;
    }
    
    .done {
        background: green;
        color: white;
    }
    
    .select-all, .deselect {
        text-decoration: underline;
        cursor: pointer;
    }
    
    .select-all {
        margin-right: 20px;
    }

}