.comments-ckvopjhgwq {
    position:relative;
    height:100%;
    
    & > .g-toolbar {
        height: 34px;
        overflow:hidden;
    }
    
    & > .items {
        height: ~"calc(100% - 170px)";
        overflow:auto;
        padding:10px;
        box-sizing: border-box;
    }
    
    & > .comment-container {
        height: 123px;
        overflow:hidden;
    }
    
    & > .loader {
        display: none;
        position: absolute;
        left: 50%;
        margin-left: -110px;
        top: ~"calc(50% - 170px)";;
    }
    
}