html,body {
}

.layout-slpod3n5sa {

    table-layout:fixed;
    width: 100%;

    & > tbody > tr > td {
        &.left {
            width:100%;
            height:100%;
        }
        &.right {
            width:400px;
            height:100%;
            border-left: 1px solid #ededed;
        }
    }
    
}

.g-toolbar {
    padding: 6px;
    background: #ededed;
}



.g-input-long {
    width: 400px !important;
}
