html,body {
}

.slpod3n5sa {

    table-layout:fixed;
    width: 100%;

    & > tbody > tr > td {
        &.left {
            width:100%;
        }
        &.right {
            width:400px;
            border-left: 1px solid #ededed;
        }
    }
}

.g-toolbar {
    padding: 6px;
    background: #ededed;
}

.g-input {

    padding:8px;
    border:1px solid #999;
    border-radius:5px;
    box-shadow: 0px 5px 8px rgba(0,0,0,.2) inset;
    width:150px;
    box-sizing: content-box;
    margin: 0;
    
    &:focus {
        border:1px solid blue;
    }    
}

.g-input-long {
    width: 400px !important;
}

.g-header {
    font-size: 24px;
    padding:0;
    margin: 0 0 20px 0;
    font-weight: normal;    
}


.g-button {
    padding:8px;
    border:1px solid #999;
    background: white;
    border-radius:10px;
    width: auto;
    box-sizing: content-box;
    margin:0;
 
    &:hover {
        background :#ededed;
    }
    
    &:active {
        box-shadow: 0px 5px 8px rgba(0,0,0,.2) inset;
        padding-top: 9px;
        padding-bottom: 7px;
    }    
 
}