.z5qk1csmtq {

    padding:30px;
    
    .year {
        width:100%;
        margin-bottom: 20px;
        border-bottom: 1px solid #ededed;
        padding-bottom:20px;
    }
    
    .year-n {
    }

}