.jmi8th58od {

    padding:5px;
    
    a {
        color: white;
    }

    .userpick, .user, .logout {
        display: inline-block;
        vertical-align: middle;
        img {
            display: block;
        }
    }
    
    .userpick {
        margin-right: 5px;
    }
    
    .user {
        margin-right: 10px;
    }
    
    .logout {
        text-decoration: underline;
        cursor: pointer;
    }

}