.bargain-list-uluetdzzol {
    
    padding: 20px;
    
    table {
        table-layout: fixed;
        width: 100%;
    }
    
    a {
        text-decoration:none;
    }
    
    a:hover {
        text-decoration: underline;
    }
    
    thead td {
        color: gray;
        font-style: italic;
        padding-bottom: 15px;    
    }
    
    td {
        padding: 5px 10px;
        vertical-align: middle;
    }
    
    tbody:hover td {
        background: #ededed;
    }
    
    .id-head {
        width:50px;
    }
    
    .descr-head {
        width:100%;
    }
    
    .time-head {
        width: 80px;
    }
    
    .org-head {
        width: 120px;
    }
    
    .amount-head {
        width: 60px;
    }
    
    .status-head {
        width: 120px;
    }
    
    .responsible-head {
        width: 120px;
    }
    
    .org {
        font-weight: bold;
        a {
            color:black;
        }
    }
    
    .callTime, .lastComment {
        white-space:nowrap;
        font-size:11px;
        color:gray;
    }
    
    .comment {
        font-size:11px;
        color:gray;
    }
    
    .comment-author {
        margin-right:5px;
    }
    
    .expired {
        background: red;
        color: white;
        padding:4px 8px;
    }
    
}