.bargain-list-uluetdzzol {

    width: 100%;
    padding: 20px;
    table-layout: fixed;
    
    a {
        text-decoration:none;
    }
    
    thead td {
        color: gray;
        font-style: italic;
        padding-bottom: 15px;    
    }
    
    td {
        padding: 5px 10px;
        vertical-align: middle;
    }
    
    .org {
        width:200px;
    }
    
    .callTime, .lastComment {
        white-space:nowrap;
        width:100px;
        font-size:11px;
        color:gray;
    }
    
    .comment {
        font-size:11px;
        color:gray;
    }
    
    .comment-author {
        margin-right:5px;
    }
    
}