.iBpprkr1AE {
    
    padding: 4px;
    border-bottom: 1px solid #ededed;
    &:hover {
        background: #ededed;
    }
  
    table {
        width:100%;
        table-layout: fixed;
    }
    
    td {
        overflow: hidden;
        padding-right: 10px;
        vertical-align: middle;
        &:last-child {
            padding-right: 0;
        }
    }
    
    .type, .user, .item {
        width: 100px;
    }
    
    .message {
        width: 100%;
        padding-left: 20px;
    }
    
    .date {
        width: 100px;
        padding-left: 20px;
        opacity: .5;
        font-style: italic;
        font-size: 11px;
    }
}