.x0kf50uz479 {

    padding: 20px;
    
    .list-item {
        
        padding: 5px;
        cursor: pointer;
        
        &.selected {
            background: @selection;
            color: white;
        }
        
        td {
            vertical-align: middle;    
            padding: 4px 10px;
        }
        
        .title {
            font-size: 18px;
        }
        
        &.completed {
            .title {
                text-decoration: line-through;
            }
        }
        
    }
    

    .info {
        font-size: 11px;
        opacity: .7;
        
        span {
            margin-right: 10px;
        }
    }
    
}