.x0kf50uz479 {

    padding: 20px;
    
    & > table {
        width:100%;
        table-layout: fixed;
    }
    
    tr {
        cursor: pointer;
    }
    
    td {
        padding: 10px;
        width:100px;
        overflow: hidden;
    }
    
    thead {
        td {
            color:gray;
            font-style: italic;
            border-bottom: 1px solid #ededed;
            vertical-align:bottom;
        }
    }
   
    tr:hover {        
        background: #ededed;       
    }
    
    .selected {
        td {
            background: rgba(0,100,255,.2);
        }
    }    
    
}