.x8dhiuue82x {

    & > .head {
    
        padding:10px;
        
        .tab {
        
            cursor: pointer;
            padding: 5px 10px; 
            display: inline-block;
            border-bottom: 1px solid #ccc;
            margin-left: -1px;
            
            &.active {
                padding: 5px 9px;  
                border-left: 1px solid #ccc;
                border-top: 1px solid #ccc;
                border-right: 1px solid #ccc;
                border-radius: 5px 5px 0 0;
                border-bottom:none;                  
            }                
        }        
    }
    
    & > .content {
        & > .tab {
            display:none;
            &:first-child {
                display: block;
            }
        }
    }

}
