.userChooser-r5rr523ugt {

    position: relative;    
    
    .userpic {
        width: 100px;
        height: 100px;
        display: block; 
        margin-bottom: 7px; 
        cursor: pointer;  
    }
    
    .name {
        font-size: 11px;
        color: gray;
        overflow: hidden;
        text-overflow: ellipsis;
    }
        
}