.userChooser-r5rr523ugt {
    position: relative;
    
    .currentUser {
        width: 100px;
        
        img {
            display: block;
            width: 100px;
            height: 100px;
            cursor: pointer;
        }
    }
        
}