.bzcw5kluwu {

    padding: 30px;
    
    table {
        table-layout: fixed;
        width: 100%;
    }
    
    tbody:hover td {
        background: #ededed;
    }
    
    tbody {
        border-bottom:1px solid #ededed;
    }
    
    td {
        vertical-align: middle;
        padding: 7px 10px;
        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    
    .links {
        font-size:11px;
        padding-top: 0;
        a {
            color:gray;
            margin-right:10px;
        }
    }
    
    .item {
        
        &.factory {
            background: url("@{bundle}res/img/org/factory.png") no-repeat left center;
            padding-left: 30px;    
        }
        
        &.user {
            background: url("@{bundle}res/img/org/user.png") no-repeat left center;
            padding-left: 30px;    
        }
    }
    
}