.bzcw5kluwu {

    padding: 30px;
    
    table {
        table-layout: fixed;
        width: 100%;
    }
    
    tbody:hover td {
        background: #ededed;
    }
    
    td {
        vertical-align: middle;
        padding: 5px 10px;
    }
    
    .links {
        font-size:11px;
        a {
            color:gray;
            margin-right:10px;
        }
    }
    
    .item {
        
        &.factory {
            background: url("@{bundle}res/img/org/factory.png") no-repeat left center;
            padding-left: 30px;    
        }
        
        &.user {
            background: url("@{bundle}res/img/org/user.png") no-repeat left center;
            padding-left: 30px;    
        }
    }
    
}