.bzcw5kluwu {
    padding: 30px;
    
    .item {
        margin-bottom: 10px;
        line-height: 24px;
        
        &.factory {
            background: url("@{bundle}res/img/org/factory.png") no-repeat left center;
            padding-left: 30px;    
        }
        
        &.user {
            background: url("@{bundle}res/img/org/user.png") no-repeat left center;
            padding-left: 30px;    
        }
    }
    
}